{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body class="p-3 mb-2 bg-dark text-white">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        {% block include %}
        {% endblock include %}
        <header>
            <nav class="navbar bg-dark border-top border-bottom" style="height: 100px">
                <div class="container-fluid">
                <span class="navbar-Brand text-white position-absolute top-50 start-50 translate-middle">
                    <a class="nav-link active border rounded-4" aria-current="page" href="{% url 'index' %}"><h1>Demo Life</h1></a>
                </span>
                </div>
            </nav>
            <nav class="navbar bg-dark border-bottom" style="height: 80px">
                <div class="container-fluid">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-2">
                                <a class="nav-link active border rounded-4" aria-current="page" href="{% url 'info' %}">Інформація про сайт</a>
                            </div>
                            <div class="col-lg-8">

                            </div>
                            <div class="col-lg-2">
                                <a class="nav-link active border rounded-4" aria-current="page" href="#">Інформація про користувача</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- <div class="signin_signup">
                <a href="{% url 'signup' %}"><button>Sign up</button></a>
            </div> -->
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer class="bg-dark text-center text-white border-top border-bottom position-relative">
            <div class="container p-4 pb-0">
                <div class="row">
                    <div class="col-lg-2">
                        <br>
                        <a class="nav-link active border rounded-4" aria-current="page" href="#">Гільдії</a>
                    </div>
                    <div class="col-lg-1">
                        <ul class="navbar-nav">
                            <li><a class="nav-link active border rounded-4" style="padding-top: 2px; padding-bottom: 2px; margin-top: 5px; margin-bottom: 5px" aria-current="page" href="#">Щоденник</a></li>
                            <li><a class="nav-link active border rounded-4" style="padding-top: 0px; padding-bottom: 0px; margin-top: 5px; margin-bottom: 5px" aria-current="page" href="#">Чат</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        
                    </div>
                    <div class="col-lg-1 border-start rounded-4">
                        <br>
                        <a class="nav-link active border rounded-4" aria-current="page" href="#">Кампанія</a>
                    </div>
                    <div class="col-lg-2 border-end rounded-4">
                        <br>
{#                        <a class="nav-link active border rounded-4" aria-current="page" href="{% url 'task_list' %}">Щоденні задачі</a>#}
                            <a class="nav-link active border rounded-4" aria-current="page" href="#">Щоденні задачі</a>
                    </div>
                    <div class="col-lg-2">
                        
                    </div>
                    <div class="col-lg-2">
                        <br>
                        <a class="nav-link active border rounded-4" aria-current="page" href="#">Інші користувачі</a>
                    </div>
                </div>
          </footer>
    </body>
</html>