{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
</head>
<body>
    <header>
        <img class="logo_img" src="{% static 'home/images/logo.png' %}">
        <div class="signin_signup">
            <button onkeypress="{% url_for('signup') %}">Sign up</button>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>