{% extends 'home/base.html' %}

{% block title %}info{% endblock title %}

<!--
    <header class="info_header">
        <h1>Ласкаво прошу Вас, на ресурсі, що має допомогти мені, а можливо і Вам, розібратись у складних відносинах між людьми і взагалі у тому, як правильно жити життя)</h1>
    </header>
    <main class="info_content">
        <div class="info_values">
            <h3 style="padding-left: 25%; background-color: lightcoral">Потреби в самовираженні, самореалізації — потреби у здійсненні своїх потенційних можливостей та зростанні як особистості.</h3>

            <h3 style="padding-left: 20%; background-color: coral">Потреби в поважанні — маються на увазі потреби в особистих досягненнях, компетентності, повазі з боку оточення, визнанні.</h3>

            <h3 style="padding-left: 15%; background-color: limegreen">Соціальні потреби (потреби в приналежності, дружбі, любові) передбачають відчуття приналежності до чого-небудь або кого-небудь, підтримки.</h3>

            <h3 style="padding-left: 10%; background-color: yellowgreen">Потреби в безпеці стосуються потреб в захисті від фізичних і психологічних небезпек з боку навколишнього світу і впевненість у тому, що фізіологічні потреби будуть задовольнятися в майбутньому (покупка страхового поліса або пошук надійної роботи з гарними сподіваннями на пенсію).</h3>

            <h3 style="padding-left: 5%; background-color: greenyellow">Фізіологічні потреби (потреби найнижчого рівня) є необхідними для виживання. Вони охоплюють потребу в їжі, воді, захисті, відпочинку, сексуальні потреби.</h3>
        </div>
        <h2 style="text-align: center">Далі, на основі характеристик персонажів комп'ютерних ігор (кількість здоров'я, сили, спритності, здатності лікувати...), прописуємо характеристики людей, які необхідно по можливості розвивати, для досягнення успіху в нашій грі (кількість характеристик може збільшуватись):</h2>
        
        <div class="info_values">
            <h3>Комунікабельність; можна розвивати хіба що завдяки розмовам з різного роду людьми, але бажано з фракцією, з якою в майбутньому збираєтесь мати справу.</h3>

            <h3>Інтелект; розвивається завдяки постійному навчанню у різних сферах.</h3>

            <h3>Авторитет; упевненість навколишніх людей у правильності ваших дій, досягається шляхом обходити та вирішувати різного роду проблеми.</h3>

            <h3>Відомість; ще називається популярністю, досягається завдяки розповсюдженю вашого особистого бренду на велику кількість людей.</h3>

            <h3>Аудиторія; кількість людей, увагу яких можна отримати (оцінюється і кількість і якість), можна використовувати відомість або просто рекламу, залишаючись у тіні. Також можна розвити вивчаючи нові мови.</h3>

            <h3>Знання мов; як ми бачили у попередньому пункті, та побачимо у наступних, корисна навичка, здатна збільшити аудиторію, кількість можливої інформації та корисних знайомств, а також багато інших бонусів.</h3>

            <h3>Переконливість; відрізняється від комунікабельності тим, що може вирішувати певні задачі, які стоять перед людиною, розвивається завдяки покращенню комунікабельності.</h3>

            <h3>Корисні знайомства; відрізняються можливістю скористатись корисними характеристиками іншої людини, у відповідь потребують від вас якоїсь послуги, або боргу перед корисним знайомим. Можна досягти завдяки підвищеній комунікабельності, іншим корисним знайомствам, розширенню кола знайомств, особливо за рахунок "вищих кіл".</h3>

            <h3>Інтуіція, бізнес-чуйка, та чуйка надувалова; досить корисні навички для будь-якого гравця, але їх можна досягти лише у процесі гри під час проходження особливих квестів.</h3>

            <h3>Унікальні навички; чаще за все стосуються професії отриманої гравцем, відрізняються одна від одної розповсюдженністю, складністю отримання, ресурсами що здатні принести. Як отримуються вказано вище, але чаще за все, ці навички використовуються не підприємцями, які хочуть заробити, а підлеглим їм персоналом, так як зазвичай, допомагають заробити лише на хліб з маслом.</h3>

            <h3>Наполеглевість; можливість гравця продовжувати місію, незважаючи на велику кількість перешкод, досягається лише завдяки постійним зусиллям над персонажем.</h3>

            <h3>Здатність навчатись; навичка доступна гравцям з непоганим інтелектом та високою наполеглевістю, може допомогти швидше отримати інформацію у цікавлячому направленні, що дасть змогу передбачати важкості, або уникати поганих кампаній. Знання інших мов також можуть допомогти у покращенні цієї навички.</h3>

            <h3>Зовнішній вигляд; якщо Вам скажуть що у цій грі його можна ігнорувати - не слухайте цього рака, тому що ця характеристика може полегшити вам дуже велику кількість квестів і краще контактувати з іншими гравцями, підвищити аудиторію та ін.. Можна покращити завдяки дії спорту на організм, уникання нікотину та алкоголю, раджу звертати увагу на чистоту ротової порожнини, тому що вона може виділяти ще і поганий запах.</h3>

            <h3>Самооцінка; також досить важлива характеристика, яка може дозволити гравцеві краще заводити нові корисні знайомства, підвищує переконливість, може трохи приховувати низький рівень інтелекту.</h3>

            <h3>Розуміння психології; дозволяє розпізнавати та керувати іншим гравцем використовуючи його емоції, вважається досить брудним прийомом, але досить ефективно використовується безпринципними гравцями, які дуже часто стають "сильними світу цього".</h3>

            <h3>...</h3>
        </div>

        <h2 style="text-align: center">Наступним кроком буде інетерпретування піраміди у відповідності з запитами сучасних людей (на основі тих спостережень, що були мені доступні):</h2>
        <div class="info_values">
            <h3>Я не бачу жодних проблем з їжею та водою, старші гравці вже досить давно вирішили цю проблему.</h3>

            <h3>Проблемою захисту замість нас турбується держава та різні охоронні бюро. Хоча іноді може здатись що правоохоронні органи даром отримують ресурси на хліб, але це можна повернути у власну сторону.</h3>

            <h3>Далі йдуть секс та відпочинок, і це досить цікаво. Завдяки тому, що останнім часом багато проблем, на які раніше гравці витрачали багато часу були вирішені, і у сучасних гравців є більше вільного часу, ця ніша стала досить великою, і не повністю заповненою.</h3>

            <h3>Захист і надання впевненості у майбутньому гравцям має досить високий рівень входу, через те, що для цього потрбіно досить велика кількість ресурсів та характеристик по типу авторитету.</h3>

            <h3>Принадлежність, любов, дружба. Ці потреби торкаються емоцій гравців, на яких досить просто спекулювати, особливо якщо ви розумієтесь у психології. Частіше за все використовується саме принадлежність, тому що, вона більш масова, через що може приносити більше вигоди гравцеві що використовує цю потребність.</h3>

            <h3>Потреба у повазі та увазі, чаще всього використовується для отримання корисних зв'язків та покращення характеристики переконливості, тому що цю потребу досить важко використовувати для широких мас гравців.</h3>

            <h3>Потреба у самовираженні часто називаєма просто амбіціями людини. Так як ця потреба знаходиться на самій вершині піраміди - потребу цю відчувають лише люди, що задовольнили усі попередні, але ми живемо в 21 сторіччі, і небагато людей зараз знають що таке голод, тому саме цю потребу, знають люди те, чи ні, вони хочуть задовольнити найбільше.</h3>
        </div>
        <h1 style="text-align: center; color: gold">І мало грати красиво - треба виграти цю гру.</h1>

    </main>
-->

{% block content %}
    <h1 style="text-align: center; height: 60px; margin-top: 15px">Піраміда Маслоу</h1>
    <div class="w-25 p-3" style="background: rgb(31, 31, 33); border-radius: 30px; margin-left: 37%" >
        Потреби в самовираженні, самореалізації — потреби у здійсненні своїх потенційних можливостей та зростанні як особистості.
    </div>
    <div class="w-50 p-3" style="background: rgb(31, 31, 33); border-radius: 30px; margin-left: 25%">
        Потреби в повазі — маються на увазі потреби в особистих досягненнях, компетентності, повазі з боку оточення, визнанні.
    </div>
    <div class="w-75 p-3" style="background: rgb(31, 31, 33); border-radius: 30px; margin-left: 12%">
        Соціальні потреби (потреби в приналежності, дружбі, любові) передбачають відчуття приналежності до чого-небудь або кого-небудь, підтримки.
    </div>
    <div class="w-100 p-3" style="background: rgb(31, 31, 33); border-radius: 30px;">
        Потреби в безпеці стосуються потреб в захисті від фізичних і психологічних небезпек з боку навколишнього світу і впевненість у тому, що фізіологічні потреби будуть задовольнятися в майбутньому.
    </div>
    <div class="w-auto p-3" style="background: rgb(31, 31, 33); border-radius: 30px;">
        Фізіологічні потреби (потреби найнижчого рівня) є необхідними для виживання. Вони охоплюють потребу в їжі, воді, захисті, відпочинку, сексуальні потреби.
    </div>

    <h1 style="text-align: center; height: 60px; margin-top: 15px">Характеристики персонажів</h1>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Комунікабельність
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        </div>
      </div>
{% endblock content %}