{% extends 'home/base.html' %}
{% load static %}

{% block title %}Task List{% endblock title %}

{% block include %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.6/axios.min.js"></script>
{% endblock include %}

{% block content %}
    {% verbatim %}
        <div class="container" id="tasks">
            <div class="btn btn-success btn-lg" v-for="task in tasks">
                Title: {{ task.title }} <br>
                Text: {{ task.text }} <br>
                Priority: {{ task.priority }} <br>
                Date: {{ task.task_date }} <br>
            </div>
        </div>
    {% endverbatim %}
    <script src="{% static '/tasks/js/tasks.js' %}"></script>
{% endblock content %}